<main id="integrationDetails">
  <md-card>
    <button md-button (click)="shareDataService.back()" class="backBtn"><i class="material-icons">arrow_back</i> BACK</button>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Integration Detail">
          <form (ngSubmit)="integrationForm.form.valid && integration()" #integrationForm="ngForm">
            <md-grid-list cols="4" rowHeight="100px">
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Name" name="integrationName" disabled [(ngModel)]="integration.integrationName">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Description" name="integrationDescription" disabled [(ngModel)]="integration.description">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Last Run Date" name="integrationLastRunDate" disabled [(ngModel)]="integration.lastRunDate">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Status" name="integrationStatus" disabled [(ngModel)]="integration.status">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Active Flag" name="integrationActiveFlag" disabled [(ngModel)]="integration.activeFlag">
                </md-input-container>
              </md-grid-tile>
            </md-grid-list>
          </form>
        </md-tab>
        <md-tab label="Contact Detail">
          <form (ngSubmit)="integrationCustomerForm.form.valid && integration()" #integrationCustomerForm="ngForm">
            <md-grid-list cols="4" rowHeight="100px">
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Primary Name" name="primaryName" disabled [(ngModel)]="integration.primaryName">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Primary Email" name="primaryEmail" disabled [(ngModel)]="integration.primaryEmail">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Primary Phone" name="primaryPhone" disabled [(ngModel)]="integration.primaryPhone">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Primary Rule" name="intgPrimaryRule" disabled [(ngModel)]="integration.intgPrimaryRule">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Secondary Name" name="secondaryName" disabled [(ngModel)]="integration.secondaryName">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Secondary Email" name="secondaryEmail" disabled [(ngModel)]="integration.secondaryEmail">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Secondary Phone" name="secondaryPhone" disabled [(ngModel)]="integration.secondaryPhone">
                </md-input-container>
              </md-grid-tile>
              <md-grid-tile cols="1">
                <md-input-container class="w-100">
                  <input mdInput placeholder="Secondary Rule" name="intgSecondaryRule" disabled [(ngModel)]="integration.intgSecondaryRule">
                </md-input-container>
              </md-grid-tile>
            </md-grid-list>
          </form>
        </md-tab>
        <md-tab label="Runs">
          <div class="table-responsive">
            <table class="styleTable">
              <tr>
                <th>#</th>
                <th>Run Id</th>
                <th>Integration Name</th>
                <th>Start Date</th>
                <th>Duration</th>
                <th>Message</th>
                <th>Status</th>
              </tr>
              <tr *ngFor="let run of runs;let i=index">
                <td>{{i+1}}</td>
                <td>{{run.runId}}</td>
                <td>{{run.integrationName}}</td>
                <td>{{run.startTimeStr}}</td>
                <td>{{run.timeTaken}}</td>
                <td>{{run.messageText}}</td>
                <td>{{run.status}}</td>
              </tr>
              <tr>
                <td align="right" valign="top" colspan="7"><span>Page:</span> 1 &emsp; Rows per page: 10 &emsp; 1 - 10 of 200 &emsp;
                  <span class="material-icons" style="vertical-align: bottom;">keyboard_arrow_left</span> &emsp;
                  <span class="material-icons" style="vertical-align: bottom;">keyboard_arrow_right</span></td>
              </tr>
            </table>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</main>