<main id="dashboard">
  <md-card>
    <md-card-content>
      <section class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <md-card>
            <md-card-content>
            <!--<div id="line_chart" [chartData]="line_ChartData" [chartOptions]= "line_ChartOptions" chartType="LineChart" GoogleChart></div>-->
            </md-card-content>
          </md-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <md-card>
            <md-card-content>
            <!--<div id="pie_chart" [chartData]="pie_ChartData" [chartOptions] = "pie_ChartOptions" chartType="PieChart" GoogleChart></div>-->
            </md-card-content>
          </md-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <md-card>
            <md-card-content>
            <!--<div id="bar_chart" [chartData]="bar_ChartData" [chartOptions] = "bar_ChartOptions" chartType="BarChart" GoogleChart></div>-->
            </md-card-content>
          </md-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <md-card>
            <md-card-content>
               <!--<div id="area_chart" [chartData]="area_ChartData" [chartOptions]= "area_ChartOptions" chartType="AreaChart" GoogleChart></div>-->
            </md-card-content>
          </md-card>
        </div>
      </section>
    </md-card-content>
  </md-card>
</main>